!!! HTML
%html
  %head
    %title Cross-Channel Wartime
    %meta{ name: 'robots', content: 'noindex,nofollow' }
    %meta{ :'http-equiv' => 'Content-Type', content: 'text/html', charset: 'utf-8' }
    %link{ rel: 'stylesheet', type: 'text/css', href: 'css/normalize.css', media: 'screen' }
    %link{ rel: 'stylesheet', type: 'text/css', href: 'css/style.css' }
    %link{ rel: 'icon', type: 'image/png', href: 'img/favicon.png' }
    %script{ src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' }
    %script{ src: 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js' }
    %script{ src: 'js/javascript.js' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Raleway', rel: 'stylesheet', type: 'text/css' }

  %body
    #content
      #title
        %h1 Cross-Channel Wartime!
        %h3 Type in a year below to see if England and France were at war at the time.
        - 2.times do
          %br
      %form{ id: 'year-input', action: '#', method: 'get' }
        %input{ id: 'year', type: 'number', placeholder: 'Type year here', autofocus: 'autofocus' }
        - 2.times do
          %br
        %input{ type: 'submit', value: 'Were They At War?' }
      %br
      #war-message{ :class => 'hidden' }
        %p
    #ryan
      %button{ type: 'button' } &copy;2014 Ryan Verhey. All Rights Reserved.
    #history
      %button{ type: 'button' } Inspired by "Stuff You Missed in History Class"
